:root{
    --orange: #d95550;
    --lightorange: #dd6662;
    --verylightorange: #f89e8b;
    --gris: #55557b;
    --blanquito: #fff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--orange);


}
.logo{
    width: 300px;
    position: absolute;
    top: 0px;
    right: 30px;
}

h1{
    margin-top: 250px;
    color: var(--blanquito);
    text-align: center;

}
form{
    border: 1px solid;
    width: 400px;
    margin: 45px auto;
    text-align: center;
}

form input[type="text"]{
    background-color: var(--orange);
    color: var(--blanquito);
    border-style: none;
    font-size: 1.5rem;

}

form input[type="text"]::placeholder{
    color: var(--orange);
}
form input[type="text"]:focus{
    outline: none;
}

/* estos son selectores para ingresar a algo en especifico */
form input[type="submit"]{
    font-size: 2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;/*border por defecto no quiero*/
    color: var(--naranja);
}

/*al pasar por el boton cambia de colores*/
form input[type="submit"]:hover{
    background-color: var(--naranjaClaro);
    cursor: pointer;
    color: var(--blanco);
}
.contenedor-lista{
    width: 400px;
    margin: 0px;
}
.contenedor-tarea{
background-color: var(--blanquito);
display: flex;
justify-content: space-between;
margin-bottom: 6px;
padding: 16px;
border-radius: 4px;
font-size: 1.1em;
font-weight: 500;
color: var(--gris);
}
.btneliminar{
    width: 30px;
    height: 30px;
}

.btneliminar:hover{
    cursor: pointer;
    width: 25px;
    height: 25px;
}